/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* COLORS */
:root {
  --primary-blue: #1e3a8a;
  --light-blue: #3b82f6;
  --white: #ffffff;
  --light-bg: #f4f8ff;
}

/* BODY */
body {
  background-color: var(--light-bg);
  color: #333;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-blue);
  padding: 15px 60px;
}

.logo {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--light-blue);
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: var(--white);
}

.hero h1 {
  font-size: 40px;
  color: var(--primary-blue);
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}


/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: var(--primary-blue);
  color: var(--white);
  margin-top: 40px;
}